{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div>

        <h1>Create a new list</h1>

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
          </div>
        <p><button type="submit">Create</button></p>
        {{ form.as_p }}
 
      </form>
    </div> 
</main>


{% endblock content %}
