{% extends 'base.html' %}
{% load static %}


{% block content %}

<main>
    <div>
        <h1>{{ list.name }}</h1>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list.items.all %}
                    <tr>
                        <td>
                        {{ item.task }} 
                        </td>
                        <td>{{ item.due_date }}</td>
                    </tr>         
                {% endfor %}
            </tbody>
        </table>
    </div> 
</main>

{% endblock content %}
